@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Poppins:wght@400;600;700;800&family=Roboto:wght@400;600;700;800&family=Bungee:wght@400&display=swap');

body {
  font-family: 'Inter', 'Poppins', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}