/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/courses/mathematics/mathematics.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.mathematics_scrollContainer__72Nxn {
  animation: mathematics_scrollLeft__5dOKT var(--scroll-duration, 30s) linear infinite;
}

.mathematics_paused__XJIjs {
  animation-play-state: paused;
}

@keyframes mathematics_scrollLeft__5dOKT {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.mathematics_noScrollbar__4OYAp::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  display: none;
}
